@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #4f46e5;
    --primary-light: #6366f1;
    --secondary: #06b6d4;
    --secondary-light: #22d3ee;
    --dark: #0f172a;
    --light: #f8fafc;
    --gray: #64748b;
    --danger: #dc2626;
    --gradient: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);
    --gradient-white: linear-gradient(135deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%);

    --bg-light: #f8f8f8;
    --white: #FFFFFF;
    --white-transparent: rgba(255, 255, 255, 0.9);
    --text-dark: #121212;
    --text-medium: #333333;
    --text-light: #666666;
    --border: #e0e0e0;

    --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.08);
    --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.12);
    --shadow-lg: 0 8px 24px rgba(0, 0, 0, 0.16);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* chung */
.body {
    background-color: #f1f5f9;
    color: var(--dark);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 100px 0;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
    line-height: 1.2;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    /* margin-bottom: 3rem; */
    position: relative;
}

h2::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background: var(--gradient);
    margin: 15px auto;
    border-radius: 2px;
}

p {
    margin-bottom: 1rem;
    color: var(--gray);
    font-size: 1.1rem;
}

.section-title {
    margin-bottom: 3rem;
}

.section-title p {
    text-align: center;
}

.btn {
    display: flex;
    padding: 12px 30px;
    background: var(--gradient);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(79, 70, 229, 0.3);
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(79, 70, 229, 0.4);
}

.btn-outline {
    background: transparent;
    border: 2px solid white;
    color: white;
    box-shadow: none;
}


.btn-outline:hover {
    background: rgba(255, 255, 255, 0.1);
}


.btn-outline:hover {
    background: rgba(255, 255, 255, 0.1);
}

.btn-white {
    background: var(--gradient-white);
    border: 2px solid white;
    /* color: white; */
    box-shadow: none;
    display: flex;
    justify-content: center;
}

.btn-white span {
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* back to top */
.back-to-top {
    position: fixed;
    bottom: 24px;
    right: 30px;
    width: 56px;
    height: 56px;
    background: var(--gradient);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-lg);
    cursor: pointer;
    transition: all 0.3s;
    z-index: 10;
}


.back-to-top:hover {
    transform: translateY(-3px);
}

/* Header */
header {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s;
}

header.scrolled {
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.menu-icon {
    font-size: 2.5rem;
}

.logo-div {
    font-size: 1.8rem;
    font-weight: 800;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.logo {
    height: 50px;
}

.logoWhite {
    padding: 20px 0 0 0;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 600;
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
}

.nav-links a.active {
    font-weight: 600;
    background: rgba(255, 255, 255, 0.15);
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--gradient);
    transition: width 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--gradient);
    z-index: 10;
    transition: 0.3s;
}

.language-flag {
    font-size: 1.2rem;
    height: 50px;
}

/* Hero Section */
.hero {
    background: rgb(0, 0, 0);
    color: white;
    /* padding: 180px 0 100px; */
    position: relative;
    overflow: hidden;
    margin-top: 80px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 0;
    animation: slider 10s linear infinite;
    transition: 0.3s slider ease-in-out;
}

@keyframes slider {

    0%,
    100% {
        background: url("../bg/bg1.svg") center/cover;
    }

    33% {
        background: url("../bg/bg2.svg") center/cover;
    }

    66% {
        background: url("../bg/bg3.png") center/cover;
    }
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.hero-text {
    flex: 1;
    padding-right: 40px;
}

.hero-image {
    flex: 1;
    position: relative;
}

.hero-image img {
    border-radius: 10px;
    /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); */
    transform: perspective(1000px) rotateY(-10deg);
    transition: transform 0.5s;
}

.hero-image:hover img {
    transform: perspective(1000px) rotateY(-5deg);
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.hero p {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

/* Highlights Section */
.highlights {
    position: relative;
    z-index: 2;
    background: white;
}

.highlights-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    /* background: white; */
    border-radius: 15px;
    /* box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1); */
    padding: 50px;
}

.highlight-card {
    text-align: center;
    padding: 30px 20px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    background: #f8fafc;
    border: 1px solid #e2e8f0;
}

.highlight-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(79, 70, 229, 0.1);
}

.highlight-icon {
    font-size: 3rem;
    margin-bottom: 20px;
    justify-items: center;
    /* background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; */
}

.svg-icon {
    fill: url(#icon-gradient) !important;
    display: inline-block;
}

.highlight-card h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
}

/* Features Section */
.features {
    background: white;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.feature-card {
    background: #f8fafc;
    border-radius: 15px;
    padding: 40px 30px;
    transition: all 0.3s;
    border: 1px solid #e2e8f0;
    justify-items: center;
    text-align: center
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(79, 70, 229, 0.1);
    border-color: transparent;
}

.feature-icon {
    font-size: 2.5rem;
    margin-bottom: 25px;
    justify-items: center;
}

.feature-card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

/* Products Section */
.products {
    background: #f1f5f9;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.product-card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    transition: all 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(79, 70, 229, 0.15);
}

.product-image {
    height: 220px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.product-card:hover .product-image img {
    transform: scale(1.1);
}

.product-info {
    padding: 30px;
}

.product-info h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.product-price {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 20px;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.product-features {
    list-style: none;
    margin-bottom: 25px;
}

.product-features li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}


/* Testimonials */
.testimonials {
    /* background: white; */
}

.testimonials p {
    text-align: center;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.testimonial-card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border: 1px solid #e2e8f0;
}

.testimonial-card:hover {
    border-color: var(--primary-light);
}

.testimonial-card::before {
    content: '\201C';
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 100px;
    color: rgba(108, 99, 255, 0.1);
    font-family: serif;
    line-height: 1;
}

.testimonial-content {
    margin: 25px 0;
    position: relative;
    z-index: 1;
    font-size: 1.1rem;
    font-style: italic;
    color: var(--dark);
}

.testimonial-content p {
    text-align: start;
}

/* .author-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
} */

.author-info h4 {
    margin: 0;
}

.author-info p {
    color: var(--gray);
    font-size: 0.9rem;
    margin: 0;
}


/* Contact Section */
.contact {
    background: var(--gradient);
    color: white;
    position: relative;
    overflow: hidden;
}

.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../footer/footer1.jfif") center/cover;
    opacity: 0.1;
    z-index: 0;
}

.contact h2 {
    color: white;
}

.contact h2::after {
    background: white;
}

.contact p {
    text-align: center;
    color: white;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
    position: relative;
    z-index: 1;
}

.contact-info h3,
.contact-form h3 {
    font-size: 1.8rem;
    margin-bottom: 25px;
}

.contact-info p {
    text-align: start;
}

.contact-details {
    list-style: none;
}

.contact-details li {
    margin: 20px;
}

.contact-details-icon {
    font-size: 20pt;
    color: white;
    width: 65px;
    height: 65px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-details h4 {
    margin: 0;
}

.contact-details p {
    margin: 0;
}

.contact-form label {
    display: block;
    font-weight: 600;
    transform: translate(14px, 11px) scale(1);
    color: white;
}

*.Mui-focused .MuiOutlinedInput-notchedOutline,
*.Mui-focused .MuiPickersOutlinedInput-notchedOutline {
    outline: none;
    background: transparent !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1) !important;
    border: none
}

.MuiInputLabel-root.Mui-focused,
.MuiInputLabel-shrink {
    font-weight: 600 !important;
    font-size: 1rem !important;
    background-color: transparent !important;
    font-family: inherit !important;
    top: -1.2rem !important;
    left: -14px !important;
    transition: all 0.3s;
    color: white !important;
}

.MuiInput-root::before {
    border-bottom: 2px solid rgba(255, 255, 255, 0.42) !important
}

.MuiInput-root::after {
    border-bottom: 2px solid white !important
}

.contact-form .btn {
    width: 100%;
    background: white;
    color: var(--primary);
    font-weight: 600;
    font-size: 1.1rem;
    padding: 15px;
}

.contact-form .btn:hover {
    background: #f1f5f9;
}

/* Footer */
footer {
    background: var(--dark);
    color: white;
    padding: 80px 0 30px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    margin-bottom: 50px;
}

.footer-col {
    /* justify-items: center; */
    width: fit-content;
}

.footer-col h3 {
    font-size: 1.3rem;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 15px;
    /* text-align: center; */
}

.footer-col h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 3px;
    background: var(--gradient);
}

.footer-links {
    list-style: none;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a,
.footer-text {
    color: #94a3b8;
    text-decoration: none;
    transition: all 0.3s;
    display: inline-block;
    cursor: pointer;
}

.footer-links a:hover {
    color: white;
    transform: translateX(5px);
}

.social-links {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: white;
    transition: all 0.3s;
    font-size: 1.1rem;
}

.social-links a:hover {
    background: var(--gradient);
    transform: translateY(-5px);
}

.copyright {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: #94a3b8;
    font-size: 0.9rem;
}


.trusted-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.logo-item {
    flex: 0 0 calc(20% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: all 0.3s ease;
}

.logo-item img {
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.7;
    transition: all 0.3s ease;
}

.logo-item:hover img {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.1);
}

.trusted-by {
    background: white;
    /* padding: 80px 0; */
    overflow: hidden;
    position: relative;
}

/* .trusted-by h2 {
    text-align: center;
    margin-bottom: 50px;
} */

.partners-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 60px;
}

.partners-header {
    max-width: 500px;
    justify-items: end;
}

.partners-header h2 {
    font-size: 2.5rem;
    margin: 20px 0;
    line-height: 1.2;
    text-align: end;
}

.partners-header h2::after {
    background: var(--gradient);
    margin: 15px 0 15px auto;
}

.partners-header span {
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.partners-description {
    font-size: 1.1rem;
    opacity: 0.9;
    margin-bottom: 30px;
    line-height: 1.6;
    text-align: end;
}

.btn-parters {
    justify-self: end;
}

.language-flag {
    font-size: 1.2rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-150px * 5));
    }
}

/* Responsive */
@media (max-width: 1080px) {
    .nav-links li:nth-of-type(1) {
        margin: 0;
    }

    .btn-language span {
        display: none;
    }
}

@media (max-width: 992px) {
    .hero-content {
        flex-direction: column;
    }

    .hero-text {
        padding-right: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-image {
        margin-top: 30px;
    }

    .hero-image img {
        height: 400px;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        padding: 20px 0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .partners-header {
        max-width: 992px;
        justify-items: center;
    }

    .partners-container {
        grid-template-columns: 1fr;
    }

    .partners-header h2 {
        text-align: center;
    }

    .partners-header h2::after {
        margin: 15px auto;
    }

    .btn-parters {
        justify-self: center;
    }
}

@media (max-width: 768px) {
    .logo-item {
        margin: 0 15px;
        flex: 0 0 calc(33.333% - 20px);
    }

    section {
        padding: 80px 0;
    }



    .mobile-menu {
        display: block;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .highlights {
        margin-top: 0;
    }

    .highlights-grid {
        grid-template-columns: 1fr;
        padding: 30px;
    }


}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .btn {
        width: 100%;
        text-align: center;
    }

    .logo-item {
        flex: 0 0 calc(50% - 20px);
    }
}